h1 {
    color: goldenrod;

    span {
        display: block;
        font-size: 16px;
        color: rebeccapurple;
    }
}

.sidebar__item {
    @apply mb-4  p-2 text-stone-400;

    &.active {
        @apply bg-stone-900 text-stone-300;
    }
}